.App {
	text-align: center;
}

.App-header {
	background-color: #f6f7f8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.Rectangle {
	width: 440px;
	min-height: 437px;
	padding: 35px 30px;
	border-radius: 5px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.logo-svg {
	width: 40px;
	height: 32px;
	margin: 0 19px 25px 0;
	object-fit: contain;
}

.todo-title {
	width: 100px;
	height: 28px;
	margin: 25px 72.5px 35px 0.5px;
	font-size: 22px;
	font-weight: bold;
	font-family: MarkPro;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1f2a4b;
}

.todo-input {
	outline: none;
	padding: 10px;
	padding-left: 4px;
	box-sizing: border-box;
	transition: 0.3s;
	width: 100%;
	border: none;
	border-bottom: solid 1px #d7dae0;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9ea3b2;
}

.todo-list {
	padding-left: 2px;
	padding-top: 2px;
}

.todo-row {
	display: flex;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.views {
	display: flex;
}

.view-desc {
	width: 17px;
	height: 18px;
	margin: 50px 17px 0 0;
	font-family: MarkPro;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: rgba(31, 42, 75, 0.59);
}

.view-type-container {
	display: flex;
	margin-left: 10px;
}

.view-type {
	font-family: MarkPro;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #1f2a4b;
	margin-top: 50px;
	margin-left: 10px;
	cursor: pointer;
}
.active {
	height: 18px;
	font-family: MarkPro;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a77e5;
	text-decoration: underline;;
}

/* .todo-input:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
} */

/* import MarkPro font */
@font-face {
	font-family: MarkPro;
	src: url(../../../public/MarkPro.ttf);
}
