.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #f6f7f8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.Rectangle {
	width: 440px;
	height: 437px;
	padding: 35px 30px;
	border-radius: 5px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.logo-svg {
	width: 40px;
	height: 32px;
	margin: 0 19px 25px 0;
	object-fit: contain;
}

.todo-title {
	width: 100px;
	height: 28px;
	margin: 25px 72.5px 35px 0.5px;
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1f2a4b;
}

.todo-input {
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	transition: 0.3s;
	width: 100%;
	border: none;
	border-bottom: solid 1px #d7dae0;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9ea3b2;
}

.todo-list {
  padding-left: 2px;
  padding-top: 2px;
}

.task-row {
  display: flex;
  justify-content: space-between;
}

/* .todo-input:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
} */

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
